@font-face {
  font-family: "Dirty Ego";
  src: url('DIRTYEGO.ttf');
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .5px;
  color: #3D3E42;
  margin: 0;
}

header {
  width: 100%;
  position: relative;
  height: 200px;
}

.heading {
  font-family: "Dirty Ego";
  font-size: 64px;
  letter-spacing: 5px;
  transform: rotate(-4deg);
  background-color: rgb(247,196,97);
  padding: 20px;
  position: absolute;
  top: 50px;
  z-index: 5;
  box-shadow: 10px 10px 50px #3D3E42;
}

a {
  text-decoration: none;
  color: #3D3E42;
}

a:hover {
  color: rgba(61,62,66,.8);
}

button:hover {
  opacity: .8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  margin: auto;
}

.caption {
  color: white;
  background-color: rgb(184,63,59);
  padding: 30px;
  transform: rotate(1deg);
  position: absolute;
  top: 135px;
  left: 250px;
  z-index: 3;
  box-shadow: 10px 10px 50px #3D3E42;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-top: 45px;
}

.search-box {
  margin: 20px 10px 20px 0;
  width: 40%;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .5px;
  border: 1px solid #3D3E42;
  font-size: 14px;
}

.results {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

button {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .5px;
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 50%;
  background-color: #3D3E42;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

.material-icons {
  color: white;
}

.map {
  border: 1px solid #3D3E42;
  z-index: 5;
  position: relative;
}

.map-listing {
  display: flex;
  flex-direction: row;
}

.listing {
  margin-left: 20px;
  position: relative;
}

.listing-background {
  position: absolute;
  z-index: 1;
  background-color: rgb(247,196,97);
  height: 680px;
  width: 225px;
  top: -55px;
  left: 0;
  transform: rotate(-5deg);
  box-shadow: 10px 10px 50px #3D3E42;
}

.listing-row {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 400;
  align-items: center;
  z-index: 5;
  position: relative;
}

.listing-number {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BA3E37;
  font-size: 18px;
  color: white;
  z-index: 5;
}

.listing-name {
  margin-bottom: 3px;
  z-index: 5;
}

.listing-address {
  font-style: italic;
  color: grey;
  font-size: 14px;
  font-weight: 300;
  z-index: 5;
}
